<div class="container mt-5">
    <div class="row">
        <div class="formulario col-sm-12">

            <form [formGroup]="formularioInscripcion">
                <!-- TODO: formato nacional -->
                <mat-form-field>
                    <input formControlName="fecha_entrega" matInput [matDatepicker]="picker" placeholder="Fecha de Entrega">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <input formControlName="nombre_responsable" matInput placeholder="Nombre del Responsable" value="">
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <textarea formControlName="descripcion" matInput placeholder="Descripción"></textarea>
                </mat-form-field>
                <br>
                <button class="btn btn-primary" (click)="guardar()" [disabled]="!formularioInscripcion.valid" >Guardar</button>

            </form>
          
            

            
        </div>
       
    </div>
</div>