<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
          
          

            <div class="from-control">
                <label for="">Fecha Inicio</label>
                <input class="form-control" [value]="inscripcion.fecha | date" type="text" disabled>
            </div>
            <div class="from-control">
                <label for="">Fecha Finaliza</label>
                <input class="form-control" [value]="inscripcion.fechaFinal | date" type="text" disabled>
            </div>

            <div class="from-control">
                <label for="">Sub Total</label>
                <input class="form-control" [value]="inscripcion.subTotal" type="number" disabled>
            </div>

            <div class="from-control">
                <label for="">ISV</label>
                <input class="form-control" [value]="inscripcion.isv" type="number" disabled>
            </div>

            <div class="from-control">
                <label for="">Total</label>
                <input class="form-control" [value]="inscripcion.total" type="number" disabled>
            </div>

            <br>
        
            <button class="btn btn-primary" (click)="guardar()">Guardar</button>
        </div>
       
    </div>
</div>