<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">

            <form [formGroup]="formularioInscripcion">
                <div class="from-control">
                    <label for="">Fecha Creación</label>
                    <input formControlName="fecha_creacion" class="form-control" type="text" >
                </div>
                <div class="from-control">
                    <label for="">Fecha de Entrega</label>
                    <input formControlName="fecha_entrega" class="form-control" type="text" >
                </div>
    
                <div class="from-control">
                    <label for="">Nombre del Responsable</label>
                    <input formControlName="nombre_responsable" class="form-control" type="text" >
                </div>
    
                <div class="from-control">
                    <label for="">Descripción</label>
                    <input formControlName="descripcion" class="form-control"  type="text" >
                </div>

                <br>
            <button class="btn btn-primary" (click)="guardar()" [disabled]="!formularioInscripcion.valid" >Guardar</button>

            </form>
          
            

            
        </div>
       
    </div>
</div>