<div class="container">

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Fecha de Creación</th>
            <th scope="col">Fecha Comprometida</th>
            <th scope="col">Nombre Responsable</th>
            <th scope="col">Descripción</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let inscripcion of inscripciones">
            <td>{{inscripcion.fecha_creacion | date}}</td>
            <td>{{inscripcion.fecha_entrega | date}}</td>
            <td>{{inscripcion.nombre_responsable }}</td>
            <td>{{inscripcion.descripcion }}</td>
            
          </tr>

        </tbody>
      </table>
</div>